%h2 Github

Is configured?
- if @github.authenticated?
  %span.ok Yes
- else
  %span.error No

%br
Usable, i.e. are credentials correct?
- if @github_usable
  %span.ok Yes
- else
  %span.error No

%h2 Trello

Is configured?
- if !Trello.client.developer_public_key.blank? and !Trello.client.member_token.blank?
  %span.ok Yes
- else
  %span.error No

%br
Is usable, i.e. are credentials correct?
- if @trello_usable
  %span.ok Yes
- else
  %span.error No

%h2 Configured Boards

%table.table
  %thead
    %tr.row
      %th Board Name
      %th Repo linked to Board
      - if @github_usable
        %th Github Issue Open Count
      - if @trello_usable
        %th Trello List Count

  %tbody
    - @boards.each do |board|
      %tr.row
        %td= board.name
        %td= board.repo_for_new_cards
        - if @github_usable
          %td.github-issues{:"data-repo" => board.repo_for_new_cards }
            %img{:src => "/img/spinner.gif"}
        - if @trello_usable
          %td.trello-list-count{:"data-board-name" => board.name }
            %img{:src => "/img/spinner.gif"}

:css
  .error {
     color: red;
  }
  .ok {
     color: green;
  }

:javascript
  $(document).ready(function() {
    $(".github-issues").each(function(idx, elem) {
       jQuery.get("/issues/" + $(elem).data("repo"), {}).
         error(function() {
           $(elem).html("-");
         }).
         success(function(results) {
           $(elem).html(results.value);
         });
    });
    $(".trello-list-count").each(function(idx, elem) {
       jQuery.get("/lists/" + $(elem).data("board-name"), {}).
         error(function() {
           $(elem).html("-");
         }).
         success(function(results) {
           $(elem).html(results.value);
         });
    });
  });
